body {
    background: linear-gradient(to top, #d6a863 20%, #d6e2e9 50%, #96c7dc 80%);
    font-family: Lucida Grande;
    margin: 0;
    height: 100vh;
    cursor: url(paw.png), auto;
}

main {
    height: 100vh;
    width: 100vw;
}

h1 {
    margin-left: 20px;
}

.App {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    background-color: rgb(32 125 169);
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    color: white;
    font-size: 20px;
}

.hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.logo {
    height: 300px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.logo {
    animation: logo-spin infinite 20s linear;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.baer {
    width: 200px;
    transform: rotate(-30deg);
    margin-right: -130px;
    float: right;
}

.svin {
    width: 150px;
    transform: rotate(30deg);
    margin-left: -61px;
    margin-top: -396px;
    float: left;
}

.mause {
    width: 150px;
    margin-left: -59px;
    margin-top: -66px;
    float: left;
    transform: scale(-1, 1);
}
.ziege {
    width: 150px;
    transform: rotate(-35deg);
    margin-right: -149px;
    margin-top: -395px;
    float: right;
}

.welcomeAnimals {
    width: 100%;
}

.sharf {
    position: absolute;
    width: 110px;
    animation-name: run;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-top: 130px;
    transform: scale(-1, 1);
}
@keyframes run {
    0% {
        left: -50px;
    }
    50% {
        left: 100px;
    }
    100% {
        left: -50px;
    }
}
button {
    padding: 3px;
    margin: 3px;
    background-color: #e7bb79;
    border-radius: 15px;
}
.grass {
    height: 93px;
    z-index: 0;
    width: 100%;
}

.ja {
    height: 70px;
    width: 60px;
    border-radius: 30%;
    border: 3px solid #113b47;
    padding: 3px;
    transform: rotate(449deg);
    background-color: #6ccbf8;
    margin-top: 20px;
}
.playButton {
    height: 60px;
    width: 50px;
    border-radius: 30%;
    border: 3px solid #113b47;
    padding: 3px;
    transform: rotate(449deg);
    background-color: #45b4e9;
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 30;
}

.noSound {
    height: 60px;
    width: 70px;
    border-radius: 30%;
    border: 2px solid #113b47;

    background-color: #2ed1fa;

    top: 20px;
    right: 20px;
    margin: 7px;
}

.sound {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    display: flex;
    flex-direction: column;
}

.ja:hover {
    background-color: #d0717f;
    box-shadow: 0px 0px 10px 6px rgba(225, 225, 225, 0.932);
}
.playButton:hover {
    box-shadow: 0px 0px 10px 6px rgba(227, 242, 141, 0.932);
}

.wolk {
    height: 120px;
    position: absolute;
    top: 60px;
    right: 170px;
}

.wolk2 {
    height: 100px;

    padding-top: -2px;
    position: absolute;
    left: 150px;
    top: 40px;
}

#pageGame1 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}

#animals {
    background: linear-gradient(to bottom, #7bd776, #2a9117);
    grid-row: 3 / 5;
    grid-column: 1 / 6;
}

#animals img {
    width: 20%;
}

#nav {
    background-color: #c1edff;
    background: linear-gradient(to right, #62c2dc, #c1edff, #c1edff);
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#onboard {
    background-color: #c1edff;
    grid-row: 1 / 3;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.animalsWrapper {
    max-width: 800px;
    margin: 0 auto;
}

#onboardAnimals {
    max-width: 100px;
}
.tracktor {
    width: 40vw;
}

#onTheTractor {
    position: relative;
    z-index: 10;
    bottom: -25%;
    max-width: 60%;
    padding: 0;
    left: -7%;
    margin: 0;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popuptext {
    background-color: rgb(88 85 85 / 90%);
    border-radius: 25px;
    padding: 30px;
    position: absolute;
    top: 55%;
    z-index: 111;
    font-size: 22px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 2;
    justify-content: space-between;
}

.popuptext p {
    font-size: 22px;
    padding: 9px;
    z-index: 12;
    font-weight: bold;
    width: 5%;
    text-align: center;
}

.popupButton {
    height: 60px;
    width: 60px;
    border: solid 1.5px black;
    margin: 6px;
    padding: 6px;
    border-radius: 20px;
    background-color: #7bd776;
}

.popupButton:hover {
    background-color: #d0717f;
    box-shadow: 0px 0px 10px 6px rgba(225, 225, 225, 0.932);
}

.speakResult {
    /* margin-bottom: 0; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

input {
    margin-bottom: 4px;
}

.music {
    display: none;
}

h5 {
    padding: 15px;
    font-size: 30px;
    background-color: rgb(45 163 219);
    border-radius: 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 50vw;
    margin: 10px;
    left: 25%;
    text-align: center;
}

.popupButton#go {
    transform: rotate(449deg);
}

.buttons {
    display: flex;
}

.buttons2 {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.listen {
    position: fixed;
    left: 28%;
    top: 25%;
}

.listenMicro {
    height: 80px;
    background-color: #edd4cf;
    border: solid 2px rgb(189 122 156);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px rgb(147 34 0 / 93%);
    padding: 4px;
}

.yesNo {
    height: 50px;
    margin-left: 20px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.winPage {
    height: 100vh;
    width: 100vw;
    background-color: #5eaa5a;

    background: linear-gradient(
        to bottom,
        #c1edff,
        #62c2dc,
        #2ed1fa,
        rgb(58 209 250),
        rgb(38 180 64),
        #669b24,
        rgb(33 170 58)
    );
}

.dancingAnimals {
    max-width: 130px;
    transform: translatey(3px);
    animation: float 3s ease-in-out infinite;
}
.dancingAnimals2 {
    max-width: 160px;
    transform: translatey(6px);
    animation: float2 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(-30px);
    }
    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(-30px);
    }
}

.dance {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: absolute;
    bottom: 50px;
    left: 25%;
}

.farmer {
    max-width: 160px;
    transform: translatey(6px);
    animation: float3 6s ease-in-out infinite;
    position: absolute;
    left: 100px;
    top: 46%;
}

@keyframes float3 {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(20px, 20px) rotate(10deg);
    }
    50% {
        transform: translatey(0px);
    }
    75% {
        transform: translate(20px, 20px) rotate(-5deg);
    }

    100% {
        transform: translate(0px);
    }
}
.konfeti {
    display: flex;
    position: absolute;
    left: 20%;
    top: 30px;
}

.konfetiItem {
    height: 350px;
    width: 500px;
    z-index: 0;
}
