body {
    /* background-color: rgb(167, 167, 220); */
    background-color: #d6a863;
    /* rgb(200 152 176); */
    font-family: Lucida Grande;
    margin: 0;
    height: 100vh;
    cursor: url(paw.png), auto;
}

main {
    height: 100vh;
    width: 100vw;
}

.App {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    background-color: rgb(35 97 127);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    height: 300px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.logo {
    animation: logo-spin infinite 20s linear;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.baer {
    width: 200px;
    transform: rotate(-30deg);
    margin-right: -130px;
    float: right;
}

.svin {
    width: 150px;
    transform: rotate(30deg);
    margin-left: -61px;
    margin-top: -396px;
    float: left;
}

.mause {
    width: 150px;
    /* transform: rotate(30deg); */
    margin-left: -59px;
    margin-top: -66px;
    float: left;
    transform: scale(-1, 1);
}
.ziege {
    width: 150px;
    transform: rotate(-35deg);
    margin-right: -149px;
    margin-top: -395px;
    float: right;
}

.welcomeAnimals {
    width: 100%;
}

.sharf {
    position: absolute;
    width: 110px;
    animation-name: run;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-top: 130px;
    transform: scale(-1, 1);
}
@keyframes run {
    0% {
        left: -50px;
    }
    50% {
        left: 100px;
    }
    100% {
        left: -50px;
    }
}

.grass {
    height: 93px;
    z-index: 0;
    /* padding-top: 130px; */
    width: 100%;
}

.ja {
    height: 60px;
    width: 50px;
    border-radius: 30%;
    border: 3px solid #113b47;
    padding: 3px;
    transform: rotate(449deg);
    background-color: #45b4e9;
}
.playButton {
    height: 60px;
    width: 50px;
    border-radius: 30%;
    border: 3px solid #113b47;
    padding: 3px;
    transform: rotate(449deg);
    background-color: #45b4e9;
    position: fixed;
    top: 35px;
}

.ja:hover {
    background-color: #d0717f;
    box-shadow: 0px 0px 10px 6px rgba(225, 225, 225, 0.932);
}
.playButton:hover {
    box-shadow: 0px 0px 10px 6px rgba(227, 242, 141, 0.932);
}

.wolk {
    height: 120px;
    position: absolute;
    top: 60px;
    right: 170px;
}

.wolk2 {
    height: 100px;

    padding-top: -2px;
    position: absolute;
    left: 150px;
    top: 40px;
}

#pageGame1 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}

#animals {
    background-color: #5eaa5a;
    grid-row: 3 / 5;
    grid-column: 1 / 6;
}

#animals img {
    width: 20%;
}

#nav {
    background-color: #c1edff;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border-right: dotted 9px #2c4e6d;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #auto {
    background-color:  #c1edff;
    grid-row: 2 / 3;
    grid-column: 3 / 6;
} */

#onboard {
    background-color: #c1edff;
    grid-row: 1 / 3;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.animalsWrapper {
    max-width: 800px;
    margin: 0 auto;
}

#onboardAnimals {
    max-width: 100px;
}
.tracktor {
    width: 50vw;
}

#onTheTractor {
    position: relative;
    z-index: 10;
    bottom: -27%;
    max-width: 50%;
    padding: 0;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popuptext {
   
    width: 50;
    background-color: rgb(88 85 85 / 80%);
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top: 55%;
    z-index: 11;
    font-size: 22px;
    width: 80vw;
        display: flex;
    flex-direction: row;
    align-items: center;
      line-height: 2;
}

.popuptext p {
        font-size: 22px;
  
    padding: 20px;
    z-index: 12;
    font-weight: bold;
}

.popupButton {
    height: 60px;
    width: 60px;
    border: solid 1.5px black;
    margin: 6px;
    padding: 6px;
    border-radius: 20px;
    background-color: #a3ffa3;
}

.popupButton:hover {
    background-color: #d0717f;
    box-shadow: 0px 0px 10px 6px rgba(225, 225, 225, 0.932);
}

.speakResult {
    /* margin-bottom: 0; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
}

input {
    margin-bottom: 4px;
}

h5 {
    padding: 15px;
    font-size: 20px;
    margin: 8px;
    background-color: rgb(56 110 136);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    color: #ffffff;

    border-radius: solid 2px blue;
    border: solid 2px black;
}

.buttons {
    display: flex;
}

.listen{
        height: 80px;
    background-color: #edd4cf;
    border: solid 2px rgb(189 122 156);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px rgb(147 34 0 / 93%);
    padding: 4px;

}

.speakResult {
        padding: 10px;
    border-bottom: solid 5px rgb(35 97 127);
}

.yesNo {
    height: 50px;
}